.frame {
  position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    -ms-transform: scale(0.50);
    -moz-transform: scale(0.50);
    -o-transform: scale(0.50);
    -webkit-transform: scale(0.50);
    transform: scale(0.50);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.frame iframe {
  position: relative;
      top: 0;
      left: 0;
      width: 480px;
      height: 800px;
      border: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: static;
  bottom: 0;
  width: 100%;
}

#iframe2{
  width: 1366px;
  height: 768px;
}
